.h1,h2,p,ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}
.div{
    box-sizing: border-box;
}
.img{
    width: 100%;
    height: 100%;
}
.btn-menu{
    display: none;
}
.menu li{
    float: left;
}

.menu li a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Battambang', cursive;
}
.menu li a:hover{
    color: rgb(43, 27, 162);
}
.menu ul.menu-right{
    float: right;
}
.menu ul.menu-left li a{
    text-transform: uppercase;
}
.menu ul.menu-left li.logo a{
    padding: 5px;
}
.menu ul.menu-left li.logo a img{
    height: 50px;
}
.box-cut{
    background-color: rgb(17, 191, 226);
    width: 50%;
    height: 50px;
    padding: 0;
}
.box-cut .box{
    width: 50%;
    height: 100%;
    background-color: rgb(57, 48, 119);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 90% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 90% 0);
}
.End{
    background-color: rgb(17, 191, 226);
    width: 50%;
    height: 300px;
    padding: 0;
    margin-top: 50px;
}
.End .End-box{
    width: 50%;
    height: 100%;
    background-color: rgb(57, 48, 119);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 90% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 90% 0);
}
.slide{
    background-color: red;
}
.slide-box{
    padding: 0;
    overflow: hidden;
}
.slide-box img{
    width: 100%;
    height: 300px;
    position: relative;
}
.slide-box .btn-b{
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translate(0,-50%);
    background-color: black;
    padding: 10px;
    color: white;
    transition: 0.5s;
    border-radius: 0 8px 8px 0;
}
.slide-box:hover .btn-b{
    left: 0;
}
.slide-box .btn-n{
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translate(0,-50%);
    background-color: black;
    padding: 10px;
    color: white;
    transition: 0.5s;
    border-radius:  8px 0 0 8px;
}
.slide-box:hover .btn-n{
    right: 0;
}
.cate-box{
    height: 400px;
    margin-top: 15px;
}
.cate-box .iteam-box{
    width: 100%;
    height: 100%;
    background-color: grey;
    border-radius: 10px;
    overflow: hidden;
}
.cate-box .iteam-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
.cate-box .iteam-box img:hover{
    transform: scale(1.1);
}
.cate-box .iteam-box h1{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    color: white;
    background-color: rgb(57, 48, 119);
    transform: translate(-50% ,-50%);
    text-align: center;
    font-size: 20px;
    padding: 15px;
    border-radius: 8px;
}
.cate-box .iteam-box h1:hover{
    background-color: cornflowerblue;
    color: white;
}
.cate-box .iteam-box p{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 100px;
    color: white;
    background-color: rgb(255, 1, 1);
    /* transform: translate(-50% ,-50%); */
    text-align: center;
    font-size: 20px;
    padding: 0;
    border-radius: 0 8px 8px 0;
}
.head-title{
    text-align: center;
}
.top-iteam{
    padding: 10px;
}
.top-iteam .top-box{
    height: 300px;
    background-color: rgba(128, 128, 128, 0.513);
}
.top-iteam .top-box .img-box{
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}
.top-iteam .top-box .img-box .status{
    position: absolute;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transform: rotate(-45deg);
    top: 20px;
    left: 5px;
}
.top-iteam .top-box .img-box img{
    width: 100%;
    height: 100%;
    object-fit: center;
}
.top-iteam .top-box .img-box img:hover{
    transform: scale(1.1);
}
.top-iteam .top-box .txt-box{
    position: relative;
}
.top-iteam .top-box .txt-box h3{
    font-size: 20px;
}
.top-iteam .top-box .txt-box p{
    padding: 0;
    margin: 0;
    float: left;   
}
.top-iteam .top-box .txt-box a{
    background-color: green;
    padding: 5px;
    position: absolute;
    right: 0;
    top: 25px;
    color: white;
    border-radius: 5px 5px 5px 5px;
}



/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 1080px) and (max-width: 1199.98px) {
	
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	.btn-menu{
        display: block;
    }
	.menu ul.menu-left li:not(.btn-menu){
        display: none;
    }
    .top-iteam .top-box{
        height: 400px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	.btn-menu{
        display: block;
    }
	.menu ul.menu-left li:not(.btn-menu){
        display: none;
    }
    
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-menu{
        display: block;
    }
	.menu ul.menu-left li:not(.btn-menu){
        display: none;
    }
    .slide-box .btn-n{ 
        right: 0;
    }
    .slide-box .btn-b{      
        left: 0;  
    }
    .slide-img{
        padding: 0;
    }
    .top-iteam .top-box{
        height: 400px;
    }
}
